# --------------------
# Python
# --------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# --------------------
# Virtual Environment
# --------------------
venv/
.env/

# --------------------
# Logs
# --------------------
*.log

# --------------------
# OS / Editor
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/

# --------------------
# Node (if frontend added later)
# --------------------
node_modules/

# --------------------
# ngrok
# --------------------
ngrok.yml
